* {
    margin: 0;
    padding: 0
}

body,
html {
    height: 100%
}

body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
    background: #f7f7f7 none repeat scroll 0 0
}

input,
textarea {
    outline: medium none
}

a {
    color: #1697ce
}

a:hover {
    color: #b0493b
}

a img {
    border: medium none
}

a:focus {
    outline: medium none
}

h1 {
    font-size: 24px;
    font-weight: 400
}

h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 14px
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 20px
}

.clearfix::after,
.clearfix::before {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.footer .contacts,
.footer .site h4,
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe,
.main-page .annonce-blk .dvksub_rYPIQ4ET span,
.main-page .calendar .item .dvksub_rYPIQ4ET span,
.main-page .main-slider .share h4,
.main-page .map h4,
.sport-tv .left-blk {
    font-family: Helvetica, Arial;
}

.RA4CSZ_e3qI7YOg,
.def-page .org-list .type,
.def-page .org-list h3,
.faq-page .news-list .sec-year,
.footer .address,
.footer .copyrights,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a,
.katyakoncakova_FtFDdVex .region-btn,
.main-page .annonce-blk .dvksub_rYPIQ4ET,
.main-page .annonce-blk .links,
.main-page .calendar .day,
.main-page .calendar .item .dvksub_rYPIQ4ET,
.main-page .calendar .month-name,
.main-page .calendar h3,
.main-page .main-slider h3,
.main-page .map .reg-news,
.main-page .map h2,
.main-page .map h3,
.main-page .ministr-blk .dvksub_rYPIQ4ET,
.main-page .news h3,
.main-page .news-blk .dvksub_rYPIQ4ET,
.main-page .news-blk .links,
.media-page .news-list .sec-year,
.photo-page .photo-also .dvksub_rYPIQ4ET,
.photo-page .photo-list .dvksub_rYPIQ4ET,
.renul_seDwyoGn57 .dvksub_rYPIQ4ET,
.root_f21XaquIT .news-list .dvksub_rYPIQ4ET,
.root_f21XaquIT .top-blk .rss,
.sec-page .doc-list h4,
.video-page .video-also .dvksub_rYPIQ4ET,
.video-page .video-list .dvksub_rYPIQ4ET,
.zhanna_86_o5IKudBv h2 {
    font-family: Helvetica, Arial;
}

.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin-top: 20px;
    float: left;
    text-decoration: none;
    color: #000;
    display: block;
    position: relative
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
    float: left
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
    font-size: 18px;
    margin-top: 17px;
    margin-left: 18px;
    width: 265px;
    float: left;
    text-transform: uppercase;
    line-height: 1
}

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
    float: right;
    font-size: 12px;
    margin-top: 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 330px;
    float: right;
    margin-top: 25px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    float: right
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
    font-weight: 700;
    color: #353746
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a {
    color: #353744
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover {
    color: #b0493d
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
    margin: 0 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
    margin-top: 25px;
    position: relative;
    text-align: right
}

.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR {
    width: 170px;
    padding: 4px 5px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    margin-top: 10px;
    background: #0f6470 none repeat scroll 0 0;
    height: 57px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    list-style: outside none none
}

.katyakoncakova_FtFDdVex .main-menu-blk>li {
    float: left;
    margin-right: 23px;
    position: relative;
    padding: 17px 10px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
    color: #cf4f3a;
    font-style: normal;
    margin-left: 4px
}

.alstep54_sglCGFT6q {
    font-size: 12px
}

.renul_seDwyoGn57 h2 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 15px
}

.mtb {
    margin: 30px 0 !important;
    text-transform: none !important;
    font-size: 26px !important;
    font-weight: bold !important;
}

.opacity {
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 1;
    filter: alpha(opacity=100);
}

.opacity:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.left-img-box {
    float: left;
    padding: 2%;
    width: 96%;
    background: rgb(255, 236, 166);
    border: 1px solid red;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-img-box img {
    float: right;
    margin-left: 20px;
    width: 100%;
    height: auto;
    max-width: 350px !important;
}

#product-block .plashka2-t {
    color: #fff915;
    font-size: 20px;
    line-height: 25px;
}

#product-block .plashka2 b {
    text-shadow: 1px 1px 2px #373838;
}

#product-block .plashka2 {
    position: absolute;
    background: url("") center center no-repeat;
    background-size: 190px 262px;
    width: 190px !important;
    height: 138px;
    padding: 144px 30px 0 0;
    line-height: 22px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin: 48px 0 0 -10px !important;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    z-index: 5;
}

@media screen and (max-width: 767px) {
    #product-block {
        width: 100% !important;
        height: 224px !important;
        margin: 0 !important;
        /* margin: 0 0 0 -10% !important;*/
    }

    #product-block .plashka2 {
        background-size: 135px 188px;
        width: 110px !important;
        height: 98px;
        padding: 95px 25px 0 0;
        line-height: 16px;
        font-size: 13px;
        margin: 15px 0 0 0px !important;
    }

    #product-block .plashka2-t {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        text-align: center
    }
}

@media screen and (max-width: 200px) {
    #product-block .plashka2 {
        display: none;
    }
}

.rub-ramka {
    background: rgba(3, 224, 0, .04);
    padding: 6px 13px !important;
    border-radius: 2px;
    border: 4px double rgba(21, 160, 37, .32);
    line-height: 28px;
    font-size: 16px;
    margin: 0 auto;
    font-weight: 600;
    color: #4a4a4a !important;

}

.myh4 {
    text-transform: uppercase;
    padding: 6px 4px 4px 5px;
    display: block;
    border: 1px dotted #e2e2e2;
    border-right: none;
    color: #3a753a;
    margin-bottom: 9px;
    border-radius: 2px;
    margin-top: 5px;
    font-weight: 600;
    background-color: #f5fef5;
    background-image: -webkit-repeating-linear-gradient(0deg, #bfe6bf 0, #f5fef5 100%);
    background-image: repeating-linear-gradient(90deg, #bfe6bf 0, #f5fef5 100%);
    background-image: -ms-repeating-linear-gradient(0deg, #bfe6bf 0, rgba(3, 224, 0, .04) 100%)
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET {
    color: #6c6e7e;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 {
    margin-top: 25px;
    /* color: #6c6e7a; */
    line-height: 1.5;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #b9b9b9;
    font-size: 18px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    color: #000;
    text-align: justify;
    margin: 15px;
    line-height: 25px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .at_img {
    margin-bottom: 0
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .doc-text {
    text-indent: 0
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .doc-text strong {
    margin-bottom: 15px;
    display: block
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .swetlana40_GWDvkz8Tqs {
    text-indent: 0;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 22px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    background: rgb(255, 236, 166) none repeat scroll 0 0;
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, .75)
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB {
    text-align: center
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw {
    margin-top: 10px;
    font-size: 13px;
    color: #a1a1a2
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    float: left;
    padding-right: 30px;
    margin-bottom: -5px;
    font-size: 12px;
    font-style: italic;
    color: #a1a1a8
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 {
    margin-top: 5px
}

.zhanna_86_o5IKudBv {
    background: #fff none repeat scroll 0 0;
    padding: 15px 40px 40px;
    margin: 0;
    border-radius: 4px
}

.zhanna_86_o5IKudBv h2 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1;
    line-height: 30px
}

.altakansk_YrlOq5h6N {
    font-family: Arial;
    color: #6c6e83;
    margin: 0 5px
}

.dmavrodi_yjLIBb2Q {
    position: relative;
    z-index: 10
}

.sazonov66_g9ysODlqt {
    margin-bottom: -340px;
    min-height: 100%;
    position: relative;
    background: #f7f7f7 none no-repeat scroll center top
}

.vk-container {
    font-family: arial;
    font-size: 16px;
    color: #333;
    text-decoration: none
}


/* header styles start */

.wrapper {
    max-width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    font-family: sans-serif;
    background: #fff;
}

.header__line-time {
    padding: 10px 0 10px 20px;
    color: #4f545e;
    border-bottom: 2px solid #f2f2f2;
    font-size: 15px;
}

.header__top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
    border-bottom: 2px solid #f2f2f2;
}

.header__bottom {
    border-bottom: 2px solid #f2f2f2;
}

.header__top-search-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    text-decoration: none;
}

.header__logo-picture {
    width: 250px;
}

.header__nav {
    padding: 10px 15px;

}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    height: 21px;
    overflow: hidden;
}

.header__nav-list-link {
    font-size: 14px;
    font-weight: 500;
    color: #171717;
    height: 38px;
    transition: all .1s ease;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

}


.header__logo a {
    font-size: 50px;
    color: #000;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1023px) {
    .header__nav-list-item:nth-child(6) {
        display: none;
    }
}




.icon-search {
    width: 28px;
}

@media screen and (max-width: 630px) {

    .header__nav-list-item:nth-child(3),
    .icon-search {
        display: none;
    }
}

@media screen and (max-width: 374px) {
    .header__nav-list-item:nth-child(4) {
        display: none;
    }

    .header__logo-picture {
        width: 200px;
    }

    .header__logo a {
        font-size: 44px;
    }
}


/* header styles end */

.vk-header {
    background: #dae2e8 none repeat scroll 0 0;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-logo {
    background: transparent none no-repeat scroll 0 0;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: 700
}

.vk-avatar img {
    float: right;
    margin-left: 10px;
    max-width: 50px
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-comment:last-child {
    border-bottom: 0 none
}

.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px
}

.vk-comment-text {
    margin-left: 60px;
    margin-bottom: 5px
}

.vk-comment-date {
    margin-left: 60px;
    color: #999
}

.bloq {
    font-size: 24px;
    font-weight: 400
}

.doc-text {
    margin-left: 330px !important
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, .7) none repeat scroll 0 0;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none
}

.msg {
    position: absolute;
    width: 600px;
    height: 220px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: #778691 none repeat scroll 0 0;
    border: 1px solid #eee
}

.msg>h1 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 1.8
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer
}

.submit {
    margin-top: 10px;
    height: 50px;
    width: 400px;
    background-color: #b22222;
    color: #fff;
    font-size: 30px;
    border-radius: 3px;
    font-size: 24px !important;
    font-size: 24px !important;
    height: 65px;
    border: none
}

.submit:hover {
    background-color: #b22222 !important
}

.vk-comment p {
    text-align: justify;
    line-height: 1.3 !important
}

.doc p {
    text-align: right !important
}

li {
    margin-left: 15px
}

.header__nav-list-item:not(:last-child) {
    margin-right: 5px;
    margin-left: 5px;
}

.search_in {
    font-size: 13px;
    color: #444;
    background: #fff;
    border: 1px solid #222;
    padding: 3px 100px 3px 10px;
    text-decoration: none !important;
    cursor: text
}

.search_in:hover {
    color: #444
}

.city {
    margin-left: -15px
}

.at_img {
    margin-top: 0 !important
}

@media screen and (max-width:1020px) {
    .alex_zevsa_wcih4ECQW {
        width: auto
    }

    .main-menu-blk {
        width: 100%;
        margin: 0 auto
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: 20%;
        float: left;
        margin: 0;
        display: block;
        padding: 0;
        text-align: center;
        height: 100%
    }

    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        height: 50px;
        overflow: hidden
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li a {
        line-height: 50px
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        width: 180px
    }

    .alex_zevsa_wcih4ECQW,
    .main-menu-blk {
        height: 100%
    }

    .web-s {
        display: none
    }

    body img {
        max-width: 100%
    }
}



.first-list li:not(:last-child) {
    margin-bottom: 5px
}

.first-list b {
    font-weight: 400;
}

.first-list {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    color: #000
}

.first-list li b {
    margin-left: 10px
}

@media (max-width: 900px) {
    .inL_298556 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .doc-text {
        margin-left: 0 !important;

    }

    .doc-text p {
        text-align: center !important;
    }
}

@media screen and (max-width:768px) {
    .alex_zevsa_wcih4ECQW {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .zhanna_86_o5IKudBv {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px
    }

    .inL_339459 {
        display: none !important
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: 33.333%
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0 auto;
        padding-right: 0;
        float: none
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv>img {
        display: block;
        margin: 0 auto
    }

    .first-list,
    .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
        text-align: right;
        margin-right: 0;
        margin-left: 0
    }

    .first-list {
        padding-left: 25px
    }

    .doc-text {
        margin-left: 0 !important
    }

    .vk-comment p {
        text-align: right
    }

    .msg {
        width: 300px;
        margin-left: -150px;
        height: 300px
    }

    .submit {
        width: 280px
    }

    li {
        margin-left: 10px
    }

    .header__nav-list-item {
        margin-left: 5px;
        margin-right: 5px;
    }

    .at_img {
        margin-top: 15px !important
    }

    .gelat_Bb6MhOHv {
        display: table;
        margin-left: auto;
        margin-right: auto
    }

    .header__nav-list-link {
        font-size: 13px;
    }
}

.product {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px
}

.ev-footer,
.create_rom_footer {
    margin-top: 30px;
}

.ev-footer__link {
    color: #000;
}

@media screen and (max-width:479px) {
    .wrapper {
        padding: 0;
    }

    .header__logo {
        margin-left: 10px;
    }

    .product {
        max-width: 200px
    }

    .header__nav-list-item {
        margin: 0 !important;
    }

    .zhanna_86_o5IKudBv {
        padding-left: 15px;
        padding-right: 15px
    }

    .zhanna_86_o5IKudBv h2 {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 0
    }

    .alstep54_sglCGFT6q {
        display: none
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: 50%
    }

    .udalykhnn_av3FDRJhB img,
    body img {
        max-width: 100%
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC,
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        margin: 0;
        margin-top: 10px;
        text-align: center;
        font-size: 16px
    }

    .alex_zevsa_wcih4ECQW {
        padding: 0
    }

    .inL_59408 {
        font-size: 16px !important;
    }
}

@media screen and (max-width:370px) {
    .header__nav-list-item {
        margin: 0 !important;
    }

}

.sz4colbl {
    font-size: large;
    color: #000;
    font-size: 16px;
}

.c-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.rev-img {
    width: 100%;
    max-width: 300px;
    margin-top: 5px
}

.App-header {
    position: relative;
    z-index: 200
}

.blur {
    display: block;
    max-width: 530px;
    width: 100% !important;
    position: relative;
    margin: 0 auto
}

.blur1 {
    position: relative;
    z-index: 2
}

.blur2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0
}

.blur-click {
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 2px 0 3px #fff;
    font-weight: 700
}

.blur-click img {
    width: 100px !important;
    height: 60px !important
}

.blur.show .blur2 {
    z-index: -1
}

.inL_414305 {
    display: block;
    max-width: 530px;
    width: 100%
}

.no-wrap {
    white-space: nowrap
}

.com-img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 220px;
    width: 100%
}

.inL_339459 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%
}

.inL_298556 {
    background-color: rgb(255, 236, 166);
    border: 1px solid red;
    padding: 15px
}

.inL_852532 {
    clear: both
}

.inL_310620 {
    cursor: pointer
}

.inL_506434 {
    cursor: pointer
}

.inL_997224 {
    cursor: pointer
}

.inL_45551 {
    clear: both
}

.inL_453203 {
    text-indent: 0;
    text-align: right
}

.inL_998806 {
    cursor: pointer
}

.inL_412523 {
    background-color: #e2e2e2;
    padding: 10px
}

.inL_250610 {
    clear: both
}

.inL_269614 {
    cursor: pointer
}

.inL_938585 {
    cursor: pointer
}

.inL_95228 {
    text-align: right
}

.inL_327133 {
    cursor: pointer
}

.inL_337497 {
    cursor: pointer
}

.inL_828835 {
    cursor: pointer
}

.inL_615703 {
    cursor: pointer
}

.bottom-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inL_59408 {
    display: block;
    max-width: 420px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background: #cc3333;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    transition: all .2s ease;
    border: 0;
    cursor: pointer;
}

.inL_59408:hover {
    color: #fff;
    background: #0e94ce;
}

.inL_826717 {
    cursor: pointer
}

.inL_121658 {
    cursor: pointer
}

.inL_594538 {
    cursor: pointer
}

.inL_65007 {
    cursor: pointer
}

.inL_900012 {
    cursor: pointer
}

.inL_900633 {
    cursor: pointer
}

.inL_514046 {
    cursor: pointer
}

.inL_543345 {
    cursor: pointer
}

.inL_623768 {
    cursor: pointer
}

.inL_931755 {
    cursor: pointer
}

.inL_214444 {
    cursor: pointer
}

.inL_569811 {
    cursor: pointer
}

.inL_335199 {
    cursor: pointer
}

.inL_207763 {
    cursor: pointer
}

.inL_724794 {
    cursor: pointer
}

.inL_765424 {
    cursor: pointer
}

.inL_631776 {
    cursor: pointer
}

.inL_373761 {
    cursor: pointer
}

.inL_803639 {
    cursor: pointer
}

.inL_712869 {
    cursor: pointer
}

.inL_997736 {
    cursor: pointer
}

.inL_856280 {
    cursor: pointer
}

.inL_262082 {
    cursor: pointer
}

.inL_486727 {
    cursor: pointer
}

.inL_18801 {
    cursor: pointer
}

.inL_544506 {
    cursor: pointer
}

.inL_399705 {
    cursor: pointer
}

.inL_292986 {
    cursor: pointer
}

.inL_221789 {
    cursor: pointer
}


.toggle-image {
    cursor: pointer;
}

.box__images.show .first {
    display: none;
}

.box__item .second {
    margin: 0 auto;
    display: none;
}

.box__item .first {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 530px;
}

.box__item .second {
    margin: 0 auto;
    display: none;
    width: 100%;
    max-width: 530px;
}

.box__images.show .first {
    display: none;
}

.box__images.show .second {
    display: block;
}

.content-center {
    text-align: center;
    display: block;
}

.inL_815990 {
    max-width: 550px;
    width: 100%;
    margin-top: 10px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    max-width: 650px;
    margin: 0 auto 20px;
    border: 2px solid #dbdbdb;
    background: #f7f7f7;
    box-shadow: 0 0 12px #c5c5c5;
    border-radius: 10px;
}

.form__image {
    margin: 0;
    max-width: 300px;
    width: 100%;
    position: relative;
}

.form__image img {
    width: 100%;
}

.form__image picture {
    display: block;
}

.form__inner {
    max-width: 300px;
    width: 100%;
    margin: 0;
}

.form__price {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    text-align: center;
}

.form__input {
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    padding: 10px 10px 10px 20px;
    outline: 0;
    font-size: 16px;
}

.form__price-title {
    margin-bottom: 5px;
}

.form__price-lines {
    position: relative;
}

.form__price-lines::before {
    content: '';
    position: absolute;
    border-top: 1px solid red;
    width: 100%;
    top: 50%;
    left: 0;
    transform: rotate(12deg);
}

.form__price-value {
    font-size: 22px;
}

.form__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.form__price-lines::after {
    content: '';
    position: absolute;
    border-top: 1px solid red;
    width: 100%;
    top: 50%;
    left: 0;
    transform: rotate(-12deg);
}

.form__price-value.mod-red {
    font-weight: 700;
}

.mod-red {
    color: red;
}

@media (max-width:767px) {

    .form {
        display: block;
        max-width: 300px;
        padding-top: 30px;
    }

    .form__image {
        margin-bottom: 15px;
    }
}







.linkc {
    color: rgb(184, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.order-form {
    width: 100%;
    padding: 24px;
    border: 1px solid #242124;
    text-align: center;
    box-sizing: border-box
}

.order-form__price {
    display: inline-block;
    margin: 0 8px 16px
}

.order-form__price:first-of-type {
    text-decoration: line-through
}

.order-form__price:last-of-type {
    font-weight: bold
}

.order-form__label {
    display: block;
    margin: 0 auto 8px
}

.order-form__text {
    display: block;
    margin: 0 auto 16px;
    border-radius: calc(8px / 2);
    border: 1px solid #242124;
    padding: 0 16px;
    width: 220px;
    box-sizing: border-box;
    height: 36px;
    font-size: 16px
}

.order-form__button {
    cursor: pointer;
    margin: calc(8px / 2) auto 16px;
    border-radius: calc(8px / 2);
    background-color: green;
    color: #fff;
    border: 0;
    padding: 8px 16px
}

.order-form__price:first-of-type {
    text-decoration: none
}